/* .test{
    color: blue;
} */
.h1{
    font-size: 80px; 
    text-align: center;
}
.img{width: 100%;

}

.test{
    font-size: 20px; 
    color: purple;
}

.division{ height: 20px; 
    color: transparent;
}
.sub.title{
    font-size: 60px; 
    font-weight: bold;

}

