
.main-title{
     font-size: 70px;
     color: yellowgreen;
     text-align: center;
     background-color: pink;
 }
.img{
     width: 100%;
 }

.h6{
     
     font-size: 50px;
     font-weight: bold;
    background-color: transparent;    
 }